<% layout('layout/boilerplate') %>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create new listing</h3>
            <form method="post" action="/listings" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listings[title]" placeholder="add title" id="title" class="form-control" required>
                    <div class="valid-feedback">Title Looks good!</div>
                    <div class="invalid-feedback">Title is required</div>
                </div>
                <br>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listings[description]" placeholder="add description" id="description"
                        class="form-control"></textarea>
                </div>
                <br>
                <div class="mb-3">
                    <label for="img-link" class="form-label">image URL</label>
                    <input type="text" name="listings[img]" placeholder="Paste url link of your propety" id="img-link"
                        class="form-control">
                </div>
                <div class="mb-3">
                    <label for="img-link" class="form-label">image URL</label>
                    <input type="file" name="listings[img]" id="img-link"
                        class="form-control">
                </div>
                <br>
                <div class="mb-3">
                    <label for="location" class="form-label">Address</label>
                    <input type="text" name="listings[location]" placeholder="address" id="location"
                        class="form-control" required>
                    <div class="valid-feedback">locarion is ok!</div>
                    <div class="invalid-feedback">locality of property is required</div>
                </div>
                <br>
                <div class="row">
                    <div class="mb-3 col-md-5">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listings[price]" placeholder="Enter the price of your property"
                            id="price" class="form-control" required>
                        <div class="valid-feedback">Price Looks good!</div>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-7">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listings[country]" placeholder="country" id="country"
                            class="form-control" required>
                        <div class="valid-feedback">country is ok!</div>
                        <div class="invalid-feedback">Country is required</div>
                    </div>
                </div>
                <br>
                <div style="display: flex; justify-content: space-evenly;">
                    <button type="submit" class="btn btn-dark btn-add">ADD</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>